.km-on-ios #wines-view #wines-listview li div {
    text-wrap: wrap;
    display: inline-block;
    font-size: 0.7em;
    margin: 0.3em 0 .5em 1em;
    width: 16em;
    height: 7em;
    text-wrap: wrap;
}
.km-on-ios #wines-view #wines-listview li img{
    float: left;
    width: 5em;
    height: 5em;
    margin-top:3px;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.km-on-ios .km-flat #wines-view #wines-listview img{
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.km-on-ios #stores-view #stores-listview li div h3,  #stores-view #stores-listview li div p{
     font-size:0.9em;
 }

.km-on-ios #wines-view #wines-listview li div h3, #wines-view #wines-listview li div p{
    font-size: 1.1em;
}

#logo{
    width:100%;
    height:100%;
}

.km-root .km-on-android #wines-view #wines-listview li div {
    text-wrap: wrap;
    display: inline-block;
    font-size: 0.7em;
    margin: 0.3em 0 .5em 1em;
    width: 16em;
    height: 7em;
    text-wrap: wrap;
}
.km-root .km-on-android #wines-view #wines-listview li img{
    float: left;
    width: 3.7em;
    height: 3.7em;
    margin-top:15px;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.km-root .km-on-android .km-flat #wines-view #wines-listview img{
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.km-root .km-on-android #stores-view #stores-listview li div h3,  #stores-view #stores-listview li div p{
     font-size:0.9em;
 }

.km-root .km-on-android #wines-view #wines-listview li div h3, #wines-view #wines-listview li div p{
    font-size: 1.1em;
}

.km-root .km-on-android #search-view #inputText{
    width: 200px;
    background-color: gray;

}

.km-root .km-on-android #search-view #results,
km-on-ios #search-view #results{
    width:300px;
    margin-left:8px;
 }

.km-root .km-on-android #search-view #fields, 
.km-root .km-on-android #search-view #searchButton,
.km-on-ios #search-view #fields,
.km-on-ios #search-view #searchButton{
 margin-left:20px;   
}

.km-root .km-on-android #search-view h2,
.km-on-ios #search-view h2{
     margin-left:0;
 }

.km-on-ios #search-view #inputText{
     width:200px;   
}

.km-on-ios #search-view #searchButton,
.km-root .km-on-android #search-view #searchButton{
    width: 100px;
    height:30px;
    text-align:center;
    margin-top:10px;
    padding-top:15px;
} 


.km-on-ios #search-view #fields{
    
}